.code-box-demo {
    text-align: center;
}

.ant-layout-header,
.ant-layout-footer {
    color: #fff;
}

[data-theme="dark"] .ant-layout-header {

}

[data-theme="dark"] .ant-layout-footer {

}

.ant-layout-footer {
    line-height: 1.5;
}

.ant-layout-sider {
    line-height: 120px;
    background-color: white !important;
}

.ant-layout-content {
    min-height: 1400px;
    background-color: white;
    padding: 20px;
}
