/*镜像拉取区域*/
#imagePullArea {
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

/*镜像拉取控制区域*/
#imagePullCtr {
    margin-bottom: 10px;
    flex-grow: 0;
}

#imagePullProgress {
    padding: 10px;
    flex-grow: 1;
    border: 1px solid lightgray;
    background-color: #FEFEFE;
}

.imagePullLogs {
    margin-top: 10px;
    overflow: auto;
    flex-grow: 0;
}

.pullImageProgress {
    display: flex;
}
